body{
  font-family:Arial,sans-serif;
}

header{
  text-align:center;
  margin-bottom:20px;
}

.beat-pad{
  display:grid;
  grid-template-columns:repeat(2,1fr);
}

.beat-btn{
  padding:10px;
  font-size:16px;
  backround-color:#3498db;
  color:#fff;
  border:none;
  cursor:pointer;
}
